@import './common/variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:$White;
    font-family: 'PT Serif', serif;
    background:linear-gradient($White,$Pink);
}
h1{
    font-size: 58px;
}
button{
    cursor: pointer;
}



